main{
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
img{
    width: 270px;
    height: 470px;
}
main>div{
    width: 70%;
}
main>div>h2{
    font-size: 4em;
}
div>a, div>a>button{
    all:unset;
    cursor: pointer;
}
main>div>a:nth-last-child(2)>button{
    width: 113px;
    height: 49px;
    border-radius: 8px;
    text-align: center;
    font-weight: bolder;
    color: black;
    background-color: #FDB827;
}
main>div>a:nth-last-child(1)>button{
    width: 198px;
    height: 49px;
    /* margin-left: 1em; */
    text-align: center;
    font-weight: bolder;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
}