main{
    width: 80%;
    max-height: 150vh;
    margin-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
fieldset{
    width: 30rem;
    height: 10rem;
    margin-top: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF59;
    border-radius: 19px;
}
fieldset>a{
    all:unset;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0% 10%;
    
}
fieldset>a>div{
    /* width: 40%; */
    display: flex;
    /* margin-left: 1em; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 10rem;
    max-height: 10rem;
    border-radius: 10px;
}
@media(orientation: portrait){

    main{
        /* position: relative; */
        width: auto;
        height: auto;
        max-height: fit-content;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }
    fieldset{
        /* position: relative; */
        width: 80vw;
        height: auto;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    a>div>h3, a>div>p{
        margin: 0;
    }
}